<h1>Letter #<%= @letter.letter_number %></h1>

<table id="letters">
  <tr>
    <th>Name</th>
    <th>Qty</th>
    <th class="price">Bonus</th>
    <th class="price">API</th>
  </tr>
  <% @letter.posts.each do |post| %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= post.name %></td>
      <td class="qty"><%= post.quantity %></td>
      <td class="price"><%= number_to_currency(post.unit_price) %></td>
      <td class="price"><%= number_to_currency(post.full_price) %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency @letter.total_price %>
    </td>
  </tr>
</table>

<p><%= link_to "Printable Letter (PDF)", letter_path(@letter, format: "pdf") %></p>